@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #B397d6;
}

.shadow{
  box-shadow: -16px 13px 270px 92px rgba(17,0,85,0.76);
-webkit-box-shadow: -16px 13px 270px 92px rgba(17,0,85,0.76);
-moz-box-shadow: -16px 13px 270px 92px rgba(17,0,85,0.76);
}